In [1]:
import matplotlib as mpl
import pandas as pd

In [36]:
affordable_rent = pd.read_csv("https://www.dropbox.com/sh/kfa4leubphs4ath/AAC5_RUtYLw_VkuA8eVkv5L4a/data/affordable_rent.csv?dl=1")
air_quality = pd.read_csv("https://www.dropbox.com/sh/kfa4leubphs4ath/AADcS8GQqTWuKaXnyJpmjn-wa/data/airquality.csv?dl=1")
broadbandavailability = pd.read_csv("https://www.dropbox.com/sh/kfa4leubphs4ath/AAAD0Dvyk37HKM5q2Eu-9C2za/data/broadbandavailability.csv?dl=1")
college= pd.read_csv("https://www.dropbox.com/sh/kfa4leubphs4ath/AADH3hjqQX_rEYs7gEOEsZ1Pa/data/college.csv?dl=1")
costofliving = pd.read_csv("https://www.dropbox.com/sh/kfa4leubphs4ath/AAAeGgWQiK06lA4b8gMU5rIga/data/costofliving.csv?dl=1")
drinkingwater = pd.read_csv("https://www.dropbox.com/sh/kfa4leubphs4ath/AADusw8OVLkffahXTbyXnbBba/data/drinkingwater.csv?dl=1")
earlychildhoodeducation = pd.read_csv("https://www.dropbox.com/sh/kfa4leubphs4ath/AABiMATGi6bWOCNPgQQ3m_V1a/data/earlychildhoodeducation.csv?dl=1")
homeownership = pd.read_csv("https://www.dropbox.com/sh/kfa4leubphs4ath/AAB6TaShTnx_2iqXB38WKeN4a/data/homeownership.csv?dl=1")
overall_score = pd.read_csv("https://www.dropbox.com/sh/kfa4leubphs4ath/AAAKVIOp5LsBYpAQbwRtG-CLa/data/overall_score.csv?dl=1")
prosperousneighborhoods = pd.read_csv("https://www.dropbox.com/sh/kfa4leubphs4ath/AAAnv7HGyDwS-SEm45lO4U_ua/data/prosperousneighborhoods.csv?dl=1")
shortcommutes = pd.read_csv("https://www.dropbox.com/sh/kfa4leubphs4ath/AAAvyYIQj7eEIIz2cM4rcQlPa/data/shortcommutes.csv?dl=1")

C:\Users\Aren Kabarajian\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
indicators = ['affordable_rent','airquality','broadbandavailability','college','costofliving','drinkingwater','earlychildhoodeducation','homeownership','overall_score','prosperousneighborhoods','shortcommutes']

In [37]:
def year_statewide(df,year,indicator):
    df = df.copy(deep=True)
    df = df.loc[df['year']==year]
    df = df[['year','total', 'geography_id']]
    df['geography_id_len'] = df['geography_id'].astype(str).map(len)
    df = df.loc[df['geography_id_len']==11]
    df = df.drop(df[df['geography_id'] == 'los-angeles'].index)   
    df= df.sort_values(by= 'geography_id')
    df['Name'] = (df['geography_id'].str.slice(5,11)).astype(int)
    df['Census-Tract-Name'] = df['Name']*.01
    df['total']=df['total']*100
    df = df[['geography_id','Census-Tract-Name','year','total']]
    df = df.round(2)
    df.columns= ['GEOID','Tract-Name','Year','Total']
    df = df.fillna(0)
    df['Total'] = df['Total'].astype(int)
    df['GEOID']=(df['GEOID'].str.slice(2,11)) #datawrapper specific - cuts off first 2 of geoID
    df = df.drop(df[df['Tract-Name'] >= 9900 ].index)   #Get rid of large bodies of water
    #Caveat with this is we have some duplicate tract names 
#     df.to_csv("path"+indicator+str(year)+".csv",index=False) #enter local path here
    return (df)

In [43]:
year_statewide(affordable_rent,2019,'affordable_rent')
year_statewide(broadbandavailability,2019,'broadbandavailability')
year_statewide(college,2019,'college')
year_statewide(costofliving,2019,'costofliving')
year_statewide(drinkingwater,2019,'drinkingwater')
year_statewide(earlychildhoodeducation,2019,'earlychildhoodeducation')
year_statewide(homeownership,2019,'homeownership')
year_statewide(overall_score,2019,'overall_score')
year_statewide(prosperousneighborhoods,2019,'prosperousneighborhoods')

          GEOID  Tract-Name  Year  Total
7867  001400100     4001.00  2019      0
5152  001400200     4002.00  2019      0
7068  001400300     4003.00  2019      0
1611  001400400     4004.00  2019      0
5847  001400500     4005.00  2019      0
...         ...         ...   ...    ...
6555  115040800      408.00  2019      0
6551  115040901      409.01  2019      0
6559  115040902      409.02  2019      0
6552  115041000      410.00  2019      0
6553  115041100      411.00  2019      0

[8036 rows x 4 columns]

In [27]:
def year_statewide2(df,year,indicator):
    df = df.copy(deep=True)
    df = df.loc[df['year']==year]
    df = df[['year','total', 'geography_id']]
    df['geography_id_len'] = df['geography_id'].astype(str).map(len)
    df = df.loc[df['geography_id_len']==11]
    df = df.drop(df[df['geography_id'] == 'los-angeles'].index)   
    df= df.sort_values(by= 'geography_id')
    df['Name'] = (df['geography_id'].str.slice(5,11)).astype(int)
    df['Census-Tract-Name'] = df['Name']*.01
#     df['total']=df['total']*100 for AQ and SC
    df = df[['geography_id','Census-Tract-Name','year','total']]
    df = df.round(2)
    df.columns= ['GEOID','Tract-Name','Year','Total']
    df = df.fillna(0)
    df['Total'] = df['Total'].astype(int)
    df['GEOID']=(df['GEOID'].str.slice(2,11)) #datawrapper specific - cuts off first 2 of geoID
    df = df.drop(df[df['Tract-Name'] >= 9900 ].index)   #Get rid of large bodies of water
    #Caveat with this is we have some duplicate tract names 
#     df.to_csv("C:/Users/Aren Kabarajian/Documents/NYU_CUSP/Capstone/Statewide-csv/"+indicator+str(year)+".csv",index=False) #enter local path here
    df = df.
    return (df)

In [28]:
year_statewide2(air_quality,2019,'air_quality')
year_statewide2(shortcommutes,2019,'shortcommutes')

          GEOID  Tract-Name  Year  Total
7867  001400100     4001.00  2019     35
5152  001400200     4002.00  2019     33
7068  001400300     4003.00  2019     33
1611  001400400     4004.00  2019     32
5847  001400500     4005.00  2019     34
...         ...         ...   ...    ...
6555  115040800      408.00  2019     29
6551  115040901      409.01  2019     34
6559  115040902      409.02  2019     11
6552  115041000      410.00  2019     47
6553  115041100      411.00  2019     31

[8036 rows x 4 columns]